<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
	<div class="container">
		<div class="row justify-content-start align-items-center">
			<div class="col">
				<div class="row d-flex justify-content-between" style="margin-bottom: 1rem">
					<h1>Management Skills</h1>
					<button type="button" class="primary_btn btn-sm">
						<i class="fa fa-plus-circle" aria-hidden="true"></i> New
					</button>
				</div>
				<div class="card">
					<div class="card-body">
						<div class="row"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================ End About Us Area =================-->
