<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
	<div class="container">
		<div class="row justify-content-start align-items-center">
			<div class="col">
				<h1>Upload CV</h1>
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-lg-5">
								<ngx-file-picker
									[enableAutoUpload]="false"
									[adapter]="adapter"
									[fileMaxSize]="1"
									[accept]="'.pdf'"
									[fileMaxCount]="1"
									(fileRemoved)="onFileRemoved()"
									(fileAdded)="onFileAdded($event)"
								>
								</ngx-file-picker>
							</div>
							<div class="col" *ngIf="pdfSrc !== ''">
								<pdf-viewer
									[src]="pdfSrc"
									[render-text]="true"
									[autoresize]="true"
									[original-size]="false"
								></pdf-viewer>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<button
							(click)="uploadFile()"
							type="button"
							name="upload"
							id="upload"
							class="btn btn-info btn-lg btn-block"
						>
							{{ model.cvPath ? 'Remplazar' : 'Subir' }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================ End About Us Area =================-->
