<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
	<div class="container">
		<div class="row justify-content-start align-items-center">
			<div class="col">
				<div class="row d-flex justify-content-between" style="margin-bottom: 1rem">
					<h1>Management Services</h1>
					<button (click)="showModal(undefined)" type="button" class="primary_btn btn-sm">
						<i class="fa fa-plus-circle" aria-hidden="true"></i> New
					</button>
				</div>
				<div class="card">
					<div class="card-body">
						<div class="row">
							<nz-table
								nzShowSizeChanger
								[nzData]="lst"
								[nzFrontPagination]="false"
								[nzTotal]="totalItems"
								[nzPageSize]="pageSize"
								[nzPageIndex]="pageIndex"
								(nzQueryParams)="init($event)"
							>
								<thead>
									<tr>
										<th>Name</th>
										<th>Description</th>
										<th>Options</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let data of lst">
										<td>{{ data.name }}</td>
										<td>{{ data.description }}</td>
										<td>
											<nz-button-group>
												<button nz-button nzType="primary" (click)="showModal(data)">Edit</button>
												<button nz-button nzType="primary" (click)="delete(data._id)" nzDanger>Delete</button>
											</nz-button-group>
										</td>
									</tr>
								</tbody>
							</nz-table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================ End About Us Area =================-->

<nz-modal
	[(nzVisible)]="isVisible"
	[nzTitle]="model._id ? 'Edit Service' : 'New Service'"
	(nzOnCancel)="handleCancel()"
	[nzFooter]="modalFooter"
>
	<form nz-form [nzLayout]="'vertical'" #form="ngForm">
		<nz-form-item>
			<nz-form-label nzFor="name">Name</nz-form-label>
			<nz-form-control nzErrorTip="Please input Service name!" nzHasFeedback>
				<nz-input-group nzPrefixIcon="edit">
					<input
						[(ngModel)]="model.name"
						required
						type="text"
						name="name"
						id="name"
						nz-input
						placeholder="Skill Name"
					/>
				</nz-input-group>
			</nz-form-control>
		</nz-form-item>
		<nz-form-item>
			<nz-form-label nzFor="image">Image</nz-form-label>
			<nz-form-control nzErrorTip="Please input Service image!" nzHasFeedback>
				<nz-upload
					[nzSize]="2048"
					[nzFileType]="'image/png,image/jpeg,image/gif,image/bmp'"
					[(nzFileList)]="fileList"
					nzListType="picture"
					[nzBeforeUpload]="beforeUpload"
				>
					<button nz-button><i nz-icon nzType="upload"></i>Select File</button>
				</nz-upload>
			</nz-form-control>
		</nz-form-item>
		<nz-form-item>
			<nz-form-label nzFor="message">Description</nz-form-label>
			<nz-form-control [nzErrorTip]="combineTpl" nzHasFeedback>
				<textarea
					[(ngModel)]="model.description"
					name="message"
					id="message"
					required
					minlength="35"
					maxlength="1000"
					nz-input
					placeholder="message"
					[nzAutosize]="{minRows: 3, maxRows: 6}"
					#message="ngModel"
				></textarea>
				<ng-template #combineTpl let-control>
					<ng-container *ngIf="message.hasError('maxlength')">MaxLength is 1000</ng-container>
					<ng-container *ngIf="message.hasError('minlength')">MinLength is 35</ng-container>
					<ng-container *ngIf="message.hasError('required')">Input is required</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>
	</form>

	<ng-template #modalFooter>
		<button nz-button nzType="default" nzDanger (click)="handleCancel()">Cancel</button>
		<button nz-button nzType="primary" [disabled]="form.invalid" (click)="submitForm()">Save</button>
	</ng-template>
</nz-modal>
