<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
	<div class="container">
		<div class="row justify-content-start align-items-center">
			<div class="col-lg-5">
				<div class="about_img">
					<img class="" src="assets/img/about-us.png" alt="" />
				</div>
			</div>

			<div class="offset-lg-1 col-lg-5">
				<div class="main_title text-left">
					<h2>
						let’s <br />
						Introduce about <br />
						myself
					</h2>
					<p>
						{{ model.aboutMe }}
					</p>
					<a class="primary_btn" (click)="getCV()"><span>Download CV</span></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================ End About Us Area =================-->
