<!--================ Start Features Area =================-->
<section class="features_area section_gap_top">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="main_title">
					<h2>service offers</h2>
					<p>
						Is give may shall likeness made yielding spirit a itself togeth created after sea <br />
						is in beast beginning signs open god you're gathering ithe
					</p>
				</div>
			</div>
		</div>
		<div class="row feature_inner" style="justify-content: space-around">
			<div class="col-lg-3 col-md-6" *ngFor="let item of lst">
				<div class="feature_item">
					<img [src]="item.img" alt="" />
					<h4>{{ item.name }}</h4>
					<p style="word-break: break-all">{{ item.description }}</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================ End Features Area =================-->
